<div class="promo-preview-wrap {{ align }}">
	<a class="promo-preview {{ layout }}" style="{{ inline_style }}" href="{{ url }}">
	  <div class="thumb" style="background-image:url('{{ image }}')"></div>
	  <div class="content-wrap">
	    <div class="content">
	      <div class="promo-title">{{ title }}</div>
	    </div>
	  </div>
	</a>
</div>